/*
Adapted from Google Drive Media Library by Felix Wei
*/
#tabs {
    padding:      0px;
    background:   none;
    border-width: 0px;
}
#tabs .ui-tabs-nav {
    padding-left:          0px;
    background:            transparent;
    border-width:          0px 0px 1px 0px;
    -moz-border-radius:    0px;
    -webkit-border-radius: 0px;
    border-radius:         0px;
}
#tabs .ui-tabs-panel {
    border-width: 0px 1px 1px 1px;
}
